@model GameCave.Models.ViewModels.CartVMs.CartViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="cart-main">
    <div class="cart-container">
        @if (Model.Items.Count() > 0)
        {
            @foreach (var i in Model.Items)
            {
                <div class="cart-item">

                    <img src=@i.ImageUrl alt="">
                    <p>@i.Name</p>
                    <p>@i.Price &#x20AC</p>
                    <div class="quantity-container">
                        <a class="quantity-button" asp-action="DecreaseQuantity" asp-route-cartItemId="@i.Id">-</a>
                        <p>@i.Quantity</p>
                        <a class="quantity-button" asp-action="IncreaseQuantity" asp-route-cartItemId="@i.Id">+</a>
                        <a class="link-button" asp-action="RemoveGame" asp-route-cartItemId="@i.Id">Remove</a>

                    </div>
                    <p class="subtotal">@(i.Price * i.Quantity) &#x20AC</p>


                </div>
                <hr style="width:100%; color: rgb(255,255,255,0.7);" />
            }
            <a class="link-button" asp-action="RemoveAll">Remove Everything</a>
            <p class="total">Total: @ViewBag.Total &#x20AC</p>

        }
        else
        {
            <h1>
                You have no items in your cart!
            </h1>
        }
    </div>
    <div class="delivery-form">
        <form class="delivery-form">
            <label class="form-lbl" for="fullname">Full name: </label>
            <input class="form-control" type="text" id="fullname" name="Full_Name" /><br />

            <label class="form-lbl" for="email">Email: </label>
            <input class="form-control" type="email" id="email" name="Email" /><br />

            <label class="form-lbl" for="city">City and postal code:</label>
            <input class="form-control" type="text" id="city" name="City_and_postal_code" /><br />

            <label class="form-lbl" for="address">Address:</label>
            <input class="form-control" type="text" id="address" name="Address" /><Br />

            <label class="form-lbl" for="notes">Notes: </label>
            <textarea class="form-control" id="notes" placeholder="If you have any notes place enter here"></textarea><br />

            <label class="form-lbl">Delivery methods:</label>

            <div style="display:flex; flex-direction: row;">
                <input type="radio" id="courrier_office" name="delivery_method" value="Office Econt" title="Office Econt" />
                <label for="courrier_office">Econt Office</label>
            </div>

            <div style="display:flex; flex-direction: row;">
                <input type="radio" id="courrier_home" name="delivery_method" value="Home Address Econt" title="Econt Home Address" />
                <label for="courrier_home">Econt Home Address</label>
            </div>

            <p>We only accept payment on delivery.</p>
            
            <input type="submit" class="create-button" id="place-order-bttn" name="Place Order" title="Place order now" value="Place order"/>
        </form>
    </div>
</div>
