@model GameCave.Models.ViewModels.GameVMs.GameDetailsViewModel

@{
    ViewData["Title"] = "Delete";
}
<div class="main-title-container">
    <h1>Delete</h1>
    <h3>Are you sure you want to delete this game from the database? This proccess is irreversible!</h3>
</div>
<hr />
<div>
    <div class="game-details">
        <div class="img-container">
            @if (Model.ImageURL == null)
            {
                <p>No image available.</p>
            }
            else
            {
                <img src="@Model.ImageURL" alt=@Model.Description />
            }
        </div>
        <div class="info-container">
            <div class="info-header">
                <h3 class="game-title">Title: @Html.DisplayFor(model => model.Name)</h3>
                <p class="description">Description: @Html.DisplayFor(model => model.Description)</p>
                <p class="company">Developed by: @Html.DisplayFor(model => model.Company.Name)</p>
            </div>
            <br>
            <p>Genres:</p>
            <div class="genres-container">
                @if (Model.Genres.Count > 0)
                {
                    foreach (var genre in Model.Genres)
                    {
                        <p class="genre">@genre.Name</p>
                    }
                }
                else
                {
                    <span>No genres set</span>
                }
            </div>

            <p class="quantity">Available quantity: @Model.Quantity</p>
            <p class="price">Current Price: @Html.DisplayFor(model => model.Price) &#x20AC</p>
            <br>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input class="create-button" type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </div>
    </div>
</div>
